{% include 'racf_alert_base.html.j2' %}

<h3>zSecure Alert: Group Authority Change</h3>

<div class="alert-box">
  <p>
    <b>Alert Code:</b> {{ alert_code }}<br/>
    <b>User ID:</b> {{ target_user }}<br/>
    <b>Group:</b> {{ group_name }}<br/>
    <b>Hostname:</b> {{ hostname }}
  </p>
</div>

<h4>Alert Details</h4>
<div class="info-box">
  <p><b>zSecure Alert:</b> {{ alert_message }}</p>
  <p>
    <b>Automated Action Taken:</b><br/>
  {{ automated_action }}
  </p>
</div>

{% include 'racf_listuser_section.html.j2' %}

<hr/>
<p style="font-size: 0.9em; color: #666;">
  <i>Automated alert from Event-Driven Ansible monitoring zSecure C2P1107I/C2P1108I events.</i>
</p>

</body>
</html>