{% include 'racf_alert_base.html.j2' %}

<h3>zSecure Alert: {{ alert_message }}</h3>

<div class="alert-box">
  <p>
    <b>Alert Code:</b> {{ alert_code }}<br/>
    <b>User ID:</b> {{ target_user }}<br/>
    <b>Group:</b> {{ group_name }}<br/>
    <b>Job Name:</b> {{ job_name }}<br/>
    <b>Hostname:</b> {{ hostname }}
  </p>
</div>

<h4>Alert Details</h4>
<div class="info-box">
  <p><b>zSecure Alert:</b> {{ alert_message }}</p>
  <p>
    <b>Automated Action Taken:</b><br/>
    Event-Driven Ansible {{ command_message }} on z/OS host {{ hostname }}.
  </p>
</div>

<hr/>
<p style="font-size: 0.9em; color: #667;">
  <i>*** DO NOT REPLY TO THIS MESSAGE. IT IS SENT BY AN EVENT-DRIVEN ANSIBLE SERVICE MACHINE ***</i>
</p>

</body>
</html>