{% include 'racf_alert_base.html.j2' %}

<h3>RACF Security Alert: Password Threshold Exceeded</h3>

<div class="alert-box">
  <p>
    <b>Alert Code:</b> {{ alert_code }}<br/>
    <b>User ID:</b> {{ target_user }}<br/>
    <b>Hostname:</b> {{ hostname }}
  </p>
</div>

<h4>Alert Details</h4>
<div class="info-box">
  <p><b>zSecure Alert (C2P1111I):</b> {{ alert_message }}</p>
  <p><b>RACF Confirmation (ICH408I):</b> {{ ich408i_message }}</p>
</div>

<h4>RACF Password Policy</h4>
<table>
  <tr><th>Setting</th><th>Value</th></tr>
  <tr>
    <td><b>Invalid Password Threshold</b></td>
    <td><b>{{ password_threshold }}</b> consecutive unsuccessful attempts</td>
  </tr>
  <tr>
    <td><b>Action on Threshold Breach</b></td>
    <td>User ID automatically revoked by RACF</td>
  </tr>
</table>

{% if show_setropts_output | default(false) | bool %}
<h4>Full SETROPTS Output</h4>
<pre>{{ setropts_joined }}</pre>
{% endif %}

<hr/>
<p style="font-size: 0.9em; color: #666;">
  <i>Automated alert from Event-Driven Ansible monitoring zSecure C2P1111I events.</i>
</p>

</body>
</html>